<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="http://localhost:8080/api/register" content="text/html; charset=UTF-8" method="post">
    <div>
        uid :
        <input type="text" name="uid">
    </div>
    <div>
        password :
        <input type="password" name="password">
    </div>
    <div>
        name :
        <input type="text" name="name">
    </div>
    <div>
        email :
        <input type="text" name="email">
    </div>
    <div>
        url :
        <input type="text" name="url">
    </div>
    <input type="submit">
</form>
</body>
</html>